#Ignore a single file
efficientNetTrain_model2.ipynb
efficientNetTrain_model3.ipynb
lastEfficient.ipynb
lastEfficient2.ipynb
lastEfficientModel.ipynb
lastEfficientModel2.ipynb
Nonoisdata.ipynb
# Ignore dataset folder
clean_balanced_data/
clean_balanced_data_balanced/
augmented_data_balanced_clean/
augmented_balanced_data/
combined/
dataset_split/
dataset_split_clean/
split_data/

